.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-1 {
    background-image: url(../../../assets/thumbnail_placeholder_1.jpg);
}

.image-2 {
    background-image: url(../../../assets/thumbnail_placeholder_2.png);
}

.image-3 {
    background-image: url(../../../assets/thumbnail_placeholder_3.png);
}

.image-4 {
    background-image: url(../../../assets/thumbnail_placeholder_4.jpg);
}

.image-5 {
    background-image: url(../../../assets/thumbnail_placeholder_5.jpg);
}

.slide {
    position: relative;
    height: 80vh;
    flex: 0.5;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    transition: all 700ms ease-in;
}

.slide h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    font-size: 24px;
    background-color: #000000ab;
    padding: 0 5px 2px;
    border-radius: 10px;
}

@media (max-width: 480px) {

    .slide:nth-of-type(4),
    .slide:nth-of-type(5) {
        display: none;
    }
}

.slide.active {
    flex: 5;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}